<div class="container">
	<h2>Вход в учетную запись</h2>
	<form [formGroup]="myFirstReactiveForm" (submit)="onSubmit()">

		<input type="text" id="email" name="email" formControlName="email" placeholder="email address" tabindex="1">
		<div class="error" *ngIf="isControlInvalid('email')">
			Неварный E-mail
		</div>
		<br/>

		<input type="password" id="password" name="password" formControlName="password" placeholder="password" tabindex="2">
		<br/>
		<button  tabindex="3" type="submit"> Войдите </button>
		<br/>

	</form>
	<div class="TestForm">
		 {{myFirstReactiveForm.value | json}}
	</div>
</div>
