<!--The content below is only a placeholder and can be replaced.-->
<div >
  <h1>
    Сокращатель ссылок {{ title }}
  </h1>
  
</div>
<form>
  <p>Для того чтобы сократить ссылку, вам нужно войти в учетную запись</p>
  <p><input type="text" name="email" placeholder="email address" tabindex="1"></p>
  <p><input type="password" name="password" placeholder="password" tabindex="2"></p>
  <a class="button" href="#" tabindex="3"> Войдите </a>
  
  <p>Если у вас нет учетной записи, вы можете зарегистрироваться <a href="">здесь</a>.</p>
 
</form>

