<!--The content below is only a placeholder and can be replaced.-->
 <div style="text-align:center">
 <h2 class="p-3 mb-2 bg-light text-dark text-align:center">
                Сайт для сокращения ссылок
              </h2>
  </div>
  <!-- <nav>
    <a routerLink="/login" routerLinkActive="active">Login</a>
    <a routerLink="/registration" routerLinkActive="active">registration</a>
    <a routerLink="/link" routerLinkActive="active">link</a>    
  </nav> -->
  <router-outlet></router-outlet>


