
<div class="container">
	<h2>Создайте учетную запись</h2>
	<form [formGroup]="myFirstReactiveFormR" (submit)="onSubmit()">

		<input type="text" name="username" formControlName="name" placeholder="username" tabindex="1">
		<div class="error" *ngIf="isControlInvalid('name')">
			Имя должно состоять только из русских и/или латнских букв 
		</div>
		<br/> 

		<input type="text" name="email" formControlName="email" placeholder="email address" tabindex="2">
		<div class="error" *ngIf="isControlInvalid('email')">
			Введите корректный электронный адрес
		</div>
		<br/>

		<input  type="password" name="password" formControlName="password" placeholder="password" tabindex="3" >
		<div class="error" *ngIf="isControlInvalid('password')">
			Пароль должен содержать заглавные и прописные буквы латинского алфавита, а также цифры, не мение 8 символов и не более 32 символов
		</div>
		<br/>

		<input  type="password" name="repeatPassword" formControlName="repeatPassword" placeholder="password" tabindex="4">
		<div class="error" *ngIf="isControlInvalid('repeatPassword')">
			Пароль не совподает
		</div>
		<br/>

		<button  tabindex="5" type="submit"> Зарегистрируйтесь </button>
		<br/>

	</form>
	<div class="TestForm">
		 {{myFirstReactiveFormR.value | json}}
	</div>
</div>


  
  
  
  

